<!DOCTYPE html>

<head>
    <title>Tech4stress</title>
    <meta charset="utf-8">
    <meta name="viewport" xcontent="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"> </script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>

<body id="home">
    <nav class="navbar navbar-expand-lg top-navabar">
        <div class="container-fluid">
            <a class="navbar-brand"><img src="{% static 'img/TECH4STESS.png' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars menu-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html#product">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <a href="signup.html"> <input type="button" class="btn" value="Signup/Login"></a>
    </nav>
   
    {% block content %}
    {% endblock %}
</body>

</html>