{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- <form action="profile_match.html" method="GET">
    <input type="text" name="session_details"> {{ object.session_details }}
    <input type="submit" value="Search">
</form> -->








<br>


<br>

{{object.no_of_video}}
<br>

{{object.hrs_of_video}}
<br>

{{object.no_of_images}}
<br>

{{object.hrs_of_images}}




<div class="page-heading">
    <div class="container">
        <p>Welcome, John Doe </p>
    </div>
</div>
<div class="page-content">
    <div class="container">

        {% for object in object_list %}
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form class="edit-coach-profile">
                    <div class="form-group form-input">
                        <p>Session Details</p>{{object.session_details}}
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="form-group form-input">

                        <div class="row">
                            <div class="col"> Quiz & Games</div>
                            <div class="col"> <input type="number" value="Number" placeholder="Number"></div>
                            {{object.no_of_quiz}}
                            <div class="col"><input type="text" placeholder="Hours" placeholder="Number"></div>
                            {{object.hrs_of_quiz}}
                        </div>

                    </div>
                    <div class="form-group form-input">
                        <div class="row">
                            <div class="col">Video Lectures</div>
                            <div class="col"><input type="number" value="Number" placeholder="Number"></div>
                            <div class="col"><input type="text" placeholder="Hours"></div>
                        </div>
                    </div>
                    <div class="form-group form-input">
                        <div class="row">
                            <div class="col">Music</div>
                            <div class="col"> <input type="number" value="Number" placeholder="Number"></div>
                            <div class="col"><input type="text" placeholder="Hours" placeholder="Number"></div>
                        </div>
                    </div>
                    <div class="form-group form-input">
                        <div class="row">
                            <div class="col">Images</div>
                            <div class="col"> <input type="number" value="Number" placeholder="Number"></div>
                            <div class="col"><input type="text" placeholder="Hours" placeholder="Number"></div>
                        </div>
                    </div>
                    <div class="form-group form-input">
                        <input type="button" class="btn btn-primary" value="Update">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

{% endfor %}
{% endblock %}