<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}

{{object.session_details}}
<br>
{{object.no_of_quiz}}
<br>

{{object.hrs_of_quiz}}
<br>

{{object.no_of_video}}
<br>

{{object.hrs_of_video}}
<br>

{{object.no_of_images}}
<br>

{{object.hrs_of_images}}

{% endblock %}

<head>
    <title>Tech4stress</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/jquery-3.5.1.min.js"> </script>
    <script src="assets/js/bootstrap.js"></script>
</head>

<body id="home">
    <nav class="navbar navbar-expand-lg top-navabar">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><img src="assets/img/TECH4STESS.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars menu-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html#product">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>

        <a class="user-name"><img src="assets/img/testimonial1.png" class="user-img">
            <p>Jimmy</p>
        </a>
    </nav>
    <div class="page-heading">
        <div class="container">
            <p>Welcome, Jimmy De castel</p>
        </div>
    </div>
    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form class="edit-coach-profile">
                        <div class="form-group form-input">
                            <p>Session Details</p>
                            <textarea class="form-control"></textarea>
                        </div>
                        <div class="form-group form-input">

                            <div class="row">
                                <div class="col"> Quiz & Games</div>
                                <div class="col"> <input type="number" value="Number" placeholder="Number"></div>
                                <div class="col"><input type="text" placeholder="Hours" placeholder="Number"></div>
                            </div>

                        </div>
                        <div class="form-group form-input">
                            <div class="row">
                                <div class="col">Video Lectures</div>
                                <div class="col"><input type="number" value="Number" placeholder="Number"></div>
                                <div class="col"><input type="text" placeholder="Hours"></div>
                            </div>
                        </div>
                        <div class="form-group form-input">
                            <div class="row">
                                <div class="col">Music</div>
                                <div class="col"> <input type="number" value="Number" placeholder="Number"></div>
                                <div class="col"><input type="text" placeholder="Hours" placeholder="Number"></div>
                            </div>
                        </div>
                        <div class="form-group form-input">
                            <div class="row">
                                <div class="col">Images</div>
                                <div class="col"> <input type="number" value="Number" placeholder="Number"></div>
                                <div class="col"><input type="text" placeholder="Hours" placeholder="Number"></div>
                            </div>
                        </div>
                        <div class="form-group form-input">
                            <input type="button" class="btn btn-primary" value="Update">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</body>

</html>