{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home-section text-center" >
    <div class="container">
       <div class="home-text">
          <div class="row">
             <div class="col-md-10">
                <h1>Did you know 99% of the Fortune 500 company CEOs are white?</h1>
                <p>Talk to a coach, share your ambitions with friends, be part of the solution!</p>
                <input type="button" class="btn" value="View Demo">
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- Container (Product Section) -->
 <div id="product" class="product-section">
    <div class="first-product-section">
       <div class="container">
          <div class="row">
             <div class="col-md-6">
                <p class="main-text">The Coaching Platform</p>
                <p class="sub-text">Get in touch with a coach <br/>anytime, anywhere</p>
                <a href="product.html">   <input type="button" class="btn btn-primary product-btn" value="Try for free"></a>
             </div>
             <div class="col-sm-6">
                <div class="product-img">
                   <img src="{% static 'img/product1.png' %}">
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="second-product-section">
       <div class="container">
          <div class="row">
             <div class="col-md-6">
                <div class="product-img">
                   <img src="{% static 'img/product2.png' %}">
                </div>
             </div>
             <div class="col-md-6">
                <p class="main-text">Share your point of view with peers</p>
                <p class="sub-text">Connect with like minded people and try to build a great community</p>
               <input type="button" class="btn btn-primary product-btn" value="Try for free">
             </div>
          </div>
       </div>
    </div>
    <div class="third-product-section">
       <div class="container">
          <div class="row">
             <div class="col-md-6">
                <p class="main-text"> A unique experience for your users</p>
                <p class="sub-text">Get in touch with a coach anytime, anywhere</p>
                <input type="button" class="btn btn-primary product-btn" value="Try for free">
             </div>
             <div class="col-sm-6">
                <div class="product-img">
                   <img src="{% static 'img/product3.png' %}">
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="testimonial-section">
    <div class="container">
       <div class="row">
          <div class="col-md-6 test-column">
             <div class="testimonial-card">
                <div class="testimonial-img">
                   <img src="{% static 'img/testimonial1.png' %}" >
                </div>
                <div class="testimonial-text">
                   <p class="name">Testimonial Name</p>
                   <p class="title">Title</p>
                </div>
                <div class="clearfix"></div>
                <div class="test-desc">
                   <p>“ Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the “  </p>
                </div>
             </div>
          </div>
          <div class="col-md-6 test-column">
             <div class="testimonial-card">
                <div class="testimonial-img">
                   <img src="{% static 'img/testimonial1.png' %}" >
                </div>
                <div class="testimonial-text">
                   <p class="name">Testimonial Name</p>
                   <p class="title">Title</p>
                </div>
                <div class="clearfix"></div>
                <div class="test-desc">
                   <p>“ Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the “  </p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div id="about" class="about-section">
    <div class="container">
       <div class="row about-row">
          <div class="col-md-12">
             <h2 class="text-center">About Us</h2>
             <p class="aboutus-text text-center">We help African and African American, Coaches, and Organizations to find together rapid solutions to over come the challenges posed by Racism.</p>
          </div>
       </div>
       <div class="row text-center">
        
          <div class="col-md-4 offset-md-4">
             <img src="{% static 'img/about.png' %}" class="aboutus-img">
             <p class="aboutus-name">Patrice</p>
             <p class="aboutus-title">CEO</p>
          </div>
         
       </div>
       <div class="row text-center about-row">
          <div class="col-md-4">
             <div class="aboutus-card">
                <h4>Vision</h4>
                <p>Tech4stress Vision is to eradicate the ignorance of people and organization, which result in communities fights, generate bad feelings and inadequate powerdynamics</p>
             </div>
          </div>
          <div class="col-md-4" >
             <div class="aboutus-card">
                <h4>Mission</h4>
                <p>Our mission is to provide support to African American, to share successful stories of Leaders, and rebuild each community </p>
                <br/>
             </div>
          </div>
          <div class="col-md-4">
             <div class="aboutus-card">
                <h4> Stratagy</h4>
                <p>We partner with Leaders, Coaches, Schools, Colleges, Universities, MNCs, SMEs, Localcommunities, Cities, States, Governments who want to fight racism </p>
                <br/>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div id="contact" class="contactus-section">
    <div class="container">
       <h2 class="text-center">Do you have question? </h2>
       <div class="row">
          <div class="col-md-3 ">
             <div class="contact-icon"><img src="{% static 'img/icon3.png' %}"></div>
             <div class="contact-desc">
             <p class="contact-text ">E-mail address</p>
             <p class="contact-info email-info">tech4stress@gmail.com</p>
          </div>
          </div>
          
          <div class="col-md-3 offset-md-1">
             <div class="contact-icon"><img src="{% static 'img/icon1.png' %}"></div>
             <div class="contact-desc">
             <p class="contact-text">Connect with us </p>
             <ul class="social-media-list">
                <li> <a href="https://www.facebook.com/tech4stress" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li> <a href="https://twitter.com/search?q=tech4stress" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li> <a href="https://www.linkedin.com/company/tech4stress-career/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li> <a href="https://www.instagram.com/tech4stress/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
              </div>
          </div>
     

          <div class="col-md-5 google-play-section">
             <img src="{% static 'img/image.png' %}">
          </div>

       </div>
    </div>
 </div>
 <div class="footer-section">
    <ul>
       <li><a>About</a></li>
       <li><a>Product</a></li>
       <li><a>Team</a></li>
       <li><a>Resources</a></li>
       <li>Privacy Policy</li>
       <li>T&C</li>
    </ul>
 </div>

 {% endblock %}