{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-heading">
    <div class="container">
       <p>Privacy Policy</p>
    </div>
 </div>
 <div class="page-content">
    <div class="container">
       <p> This Application collects some Personal Data from its Users.</p>
       <p class="main-title">Summary</p>
       <p> Personal Data collected for the following purposes and using the following services:</p>
       <p>
          Access to third party services' accounts
       </p>
       <p class="main-title">
          Access to the Facebook account
       </p>
       <p>
          Permissions: In app registration, Likes and Publish to the Wall
       </p>
       <p class="main-title"> Access to the Twitter account
       </p>
       <p> Personal Data: In app registration and Various types of Data
       </p>
       <p> Content commenting</p>
       <p class="main-title"> Disqus</p>
       <p>Personal Data: Cookie and Usage Data</p>
       <p> Interaction with external social networks and platforms</p>
       <p> Facebook Like button, social widgets</p>
       <p> Personal Data: Cookie, Usage Data, Profile information</p>
       <p> Full policy</p>
       <p>Data Controller and Owner</p>
       <p class="main-title"> Types of Data collected</p>
       <p>Among the types of Personal Data that this Application collects, by itself or through third parties, there are:
          Cookie and Usage Data.
       </p>
       <p>Other Personal Data collected may be described in other sections of this privacy policy or by dedicated
          explanation text contextually with the Data collection.
          <br />The Personal Data may be freely provided by the User, or collected automatically when using this
          Application.
          <br />Any use of Cookies - or of other tracking tools - by this Application or by the owners of third party
          services used by this Application, unless stated otherwise, serves to identify Users and remember their
          preferences, for the sole purpose of providing the service required by the User.
          <br />Failure to provide certain Personal Data may make it impossible for this Application to provide its
          services.
       </p>
       <p>he User assumes responsibility for the Personal Data of third parties published or shared through this
          Application and declares to have the right to communicate or broadcast them, thus relieving the Data Controller
          of all responsibility.
       </p>
       <p>Mode and place of processing the Data</p>
       <p class="main-title">Methods of processing
       </p>
       <p>
          The Data Controller processes the Data of Users in a proper manner and shall take appropriate security measures
          to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.
          <br /> The Data processing is carried out using computers and/or IT enabled tools, following organizational
          procedures and modes strictly related to the purposes indicated. In addition to the Data Controller, in some
          cases, the Data may be accessible to certain types of persons in charge, involved with the operation of the site
          (administration, sales, marketing, legal, system administration) or external parties (such as third party
          technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed,
          if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Data
          Controller at any time.
       </p>
       <p class="main-title">Place</p>
       <p>
          The Data is processed at the Data Controller's operating offices and in any other places where the parties
          involved with the processing are located. For further information, please contact the Data Controller.
       </p>
       <p class="main-title">Retention time</p>
       <p class="main-title">The Data is kept for the time necessary to provide the service requested by the User, or
          stated by the purposes outlined in this document, and the User can always request that the Data Controller
          suspend or remove the data.
       </p>
       <p class="main-title"> The use of the collected Data</p>
       <p> The Data concerning the User is collected to allow the Application to provide its services, as well as for the
          following purposes: Access to third party services' accounts, Creation of the user in app profile, Content
          commenting and Interaction with external social networks and platforms.
          <br />The Personal Data used for each purpose is outlined in the specific sections of this document.
       </p>
       <p class="main-title"> Facebook permissions asked by this Application
       </p>
       <p> This Application may ask some Facebook permissions allowing it to perform actions with the User's Facebook
          account and to retrieve information, including Personal Data, from it.
       </p>
       <p>For more information about the following permissions, refer to the Facebook permissions documentation
          (https://developers.facebook.com/docs/authentication/permissions/) and to the Facebook privacy policy
          (https://www.facebook.com/about/privacy/).
       </p>
       <p>
          The permissions asked are the following:
       </p>
       <p class="main-title">Basic information</p>
       <p>By default, this includes certain User’s Data such as id, name, picture, gender, and their locale. Certain
          connections of the User, such as the Friends, are also available. If the user has made more of their data
          public, more information will be available.
       </p>
       <p class="main-title">Likes</p>
       <p> Provides access to the list of all of the pages the user has liked.</p>
       <p class="main-title">Publish to the Wall</p>
       <p> Enables the app to post content, comments, and likes to a user's stream and to the streams of the user's
          friends.
       </p>
       <p class="main-title"> Access to the Facebook account (This Application)
       </p>
       <p>
          This service allows this Application to connect with the User's account on the Facebook social network, provided
          by Facebook Inc.
       </p>
       <p class="main-title"> Access to third party services' accounts
       </p>
       <p> These services allow this Application to access Data from your account on a third party service and perform
          actions with it.
          <br /> These services are not activated automatically, but require explicit authorization by the User.
       </p>
       <p class="main-title"> Detailed information on the processing of Personal Data
       </p>
       <p> Personal Data is collected for the following purposes and using the following services:
       </p>
       <p>Permissions asked: Likes and Publish to the Wall.
       </p>
       <p> Place of processing : USA – Privacy Policy https://www.facebook.com/policy.php
       </p>
       <p> Access to the Twitter account (This Application)
       </p>
       <p>This service allows this Application to connect with the User's account on the Twitter social network, provided
          by Twitter Inc.
       </p>
       <p>
          Personal Data collected: Various types of Data.
       </p>
       <p>lace of processing : USA – Privacy Policy http://twitter.com/privacy</p>
       <p class="main-title"> Content commenting
       </p>
       <p> Content commenting services allow Users to make and publish their comments on the contents of this
          Application.
          <br /> Depending on the settings chosen by the Owner, Users may also leave anonymous comments. If there is an
          email address among the Personal Data provided by the User, it may be used to send notifications of comments on
          the same content. Users are responsible for the content of their own comments.
          <br /> If a content commenting service provided by third parties is installed, it may still collect web traffic
          data for the pages where the comment service is installed, even when users do not use the content commenting
          service.
       </p>
       <p class="main-title">Disqus (Disqus)</p>
       <p> Disqus is a content commenting service provided by Big Heads Labs Inc.</p>
       <p>
          Personal Data collected: Cookie and Usage Data.
       </p>
       <p>Place of processing : USA – Privacy Policy http://docs.disqus.com/help/30/
       </p>
       <p>
          Interaction with external social networks and platforms
       </p>
       <p>
          These services allow interaction with social networks or other external platforms directly from the pages of
          this Application.
          <br /> The interaction and information obtained by this Application are always subject to the User’s privacy
          settings for each social network.
          <br /> If a service enabling interaction with social networks is installed it may still collect traffic data for
          the pages where the service is installed, even when Users do not use it.
       </p>
       <p class="main-title">Facebook Like button and social widgets (Facebook)
       </p>
       <p> The Facebook Like button and social widgets are services allowing interaction with the Facebook social network
          provided by Facebook Inc.
          <br />Personal Data collected: Cookie and Usage Data.
          <br />Place of processing : USA – Privacy Policy http://www.facebook.com/privacy/explanation.php
          <br />Additional information about Data collection and processing
       </p>
       <p class="main-title">Legal action</p>
       <p>
          The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages
          leading to possible legal action arising from improper use of this Application or the related services.
          <br />The User is aware of the fact that the Data Controller may be required to reveal personal data upon
          request of public authorities.
       </p>
       <p class="main-title">Additional information about User's Personal Data</p>
       <p>
          In addition to the information contained in this privacy policy, this Application may provide the User with
          additional and contextual information concerning particular services or the collection and processing of
          Personal Data upon request.
       </p>
       <p class="main-title"> System Logs and Maintenance
       </p>
       <p>
          For operation and maintenance purposes, this Application and any third party services may collect files that
          record interaction with this Application (System Logs) or use for this purpose other Personal Data (such as IP
          Address).
       </p>
       <p class="main-title">
          Information not contained in this policy
       </p>
       <p>
          More details concerning the collection or processing of Personal Data may be requested from the Data Controller
          at any time. Please see the contact information at the beginning of this document.
       </p>
       <p class="main-title">The rights of Users</p>
       <p>
          Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data
          Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be
          supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block any
          data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons.
          Requests should be sent to the Data Controller at the contact information set out above.
       </p>
       <p class="main-title">This Application does not support “Do Not Track” requests.
       </p>
       <p>
          To determine whether any of the third party services it uses honor the “Do Not Track” requests, please read
          their privacy policies.
       </p>
       <p class="main-title">
          Changes to this privacy policy
       </p>
       <p>
          The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to
          its Users on this page. It is strongly recommended to check this page often, referring to the date of the last
          modification listed at the bottom. If a User objects to any of the changes to the Policy, the User must cease
          using this Application and can request that the Data Controller erase the Personal Data. Unless stated
          otherwise, the then-current privacy policy applies to all Personal Data the Data Controller has about Users.
       </p>
       <p class="main-title"> Information from the use of our Applications
       </p>
       <p>
          When you use our mobile apps, we may collect certain information in addition to information described elsewhere
          in this Policy. For example, we may collect information about the type of device and operating system you use.
          We may ask you if you want to receive push notifications about activity in your account. If you have opted in to
          these notifications and no longer want to receive them, you may turn them off through your operating system. We
          may ask for, access or track location-based information from your mobile device so that you can test
          location-based features offered by the Services or to receive targeted push notifications based on your
          location. If you have opted in to share those location-based information, and no longer want to share them, you
          may turn sharing off through your operating system. We may use mobile analytics software (such as
          crashlytics.com) to better understand how people use our application. We may collect information about how often
          you use the application and other performance data.
       </p>
       <p>Definitions and legal references</p>
       <p class="main-title"> Personal Data (or Data)</p>
       <p>
          Any information regarding a natural person, a legal person, an institution or an association, which is, or can
          be, identified, even indirectly, by reference to any other information, including a personal identification
          number.
       </p>
       <p class="main-title">Usage Data
       </p>
       <p>
          Information collected automatically from this Application (or third party services employed in this Application
          ), which can include: the IP addresses or domain names of the computers utilized by the Users who use this
          Application, the URI addresses (Uniform Resource Identifier), the time of the request, the method utilized to
          submit the request to the server, the size of the file received in response, the numerical code indicating the
          status of the server's answer (successful outcome, error, etc.), the country of origin, the features of the
          browser and the operating system utilized by the User, the various time details per visit (e.g., the time spent
          on each page within the Application) and the details about the path followed within the Application with special
          reference to the sequence of pages visited, and other parameters about the device operating system and/or the
          User's IT environment.
       </p>
       <p class="main-title"> User
       </p>
       <p>
          The individual using this Application, which must coincide with or be authorized by the Data Subject, to whom
          the Personal Data refer.
       </p>
       <p class="main-title">
          Data Subject
       </p>
       <p> The legal or natural person to whom the Personal Data refers to.
       </p>
       <p class="main-title">Data Processor (or Data Supervisor)</p>
       <p>
          The natural person, legal person, public administration or any other body, association or organization
          authorized by the Data Controller to process the Personal Data in compliance with this privacy policy.
       </p>
       <p class="main-title"> Tech4stress Inc., Data Controller (or Owner)
       </p>
       <p>
          The natural person, legal person, public administration or any other body, association or organization with the
          right, also jointly with another Data Controller, to make decisions regarding the purposes, and the methods of
          processing of Personal Data and the means used, including the security measures concerning the operation and use
          of this Application. The Data Controller, unless otherwise specified, is the Owner of this Application.
       </p>
       <p class="main-title">This Application</p>
       <p>
          The hardware or software tool by which the Personal Data of the User is collected.
       </p>
       <p class="main-title">Cookie</p>
       <p> Small piece of data stored in the User's device.</p>
       <p class="main-title"> Legal information</p>
       <p>Notice to European Users: this privacy statement has been prepared in fulfillment of the obligations under Art.
          10 of EC Directive n. 95/46/EC, and under the provisions of Directive 2002/58/EC, as revised by Directive
          2009/136/EC, on the subject of Cookies.
          <br />This privacy policy relates solely to this Application.
       </p>
    </div>
 </div>
 <div class="footer-section">
    <ul>
       <li><a>About</a></li>
       <li><a>Product</a></li>
       <li><a>Team</a></li>
       <li><a>Resources</a></li>
       <li>Privacy Policy</li>
       <li>T&C</li>
    </ul>
 </div>
 {% endblock %}