{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-heading">
    <div class="container">
        <p>Our Coaches</p>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                {% for object in object_list %}

                <div class="card">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{% static 'img/testimonial1.png' %}" class="coach">
                        </div>
                        <div class="col-md-5">
                            <p class="coachname">{{ object.firstName }} {{ object.lastName }} </p>
                            <p>{{ object.location }}
                            </p>
                        </div>
                    </div>
                    <p class="about-coach">
                        {{ object.about }}....
                        <a href="">Know More</a>
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <table border="1" class="session-table">
                                <tbody>
                                    <tr>
                                        <th>Sessions</th>
                                        <th>Number</th>
                                        <th>Timing</th>
                                    </tr>
                                    <tr>
                                        <td>Quizes &amp; Games</td>
                                        <td>60</td>
                                        <td>5 hours</td>
                                    </tr>
                                    <tr>
                                        <td>Video lectures</td>
                                        <td>40</td>
                                        <td>2 hours</td>
                                    </tr>
                                    <tr>
                                        <td>Music</td>
                                        <td>15</td>
                                        <td>2 hours</td>
                                    </tr>
                                    <tr>
                                        <td>Images</td>
                                        <td>2450</td>
                                        <td>1.3 hours</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <p>Specialized in - <b>{{ object.skills }}</b> </p>
                            <p>Experience - {{ object.experience }}</p>
                            <p><b>Price : 300$</b></p>
                            <a><button type="button" class="btnResgister">Click here to
                                    Register</button></a>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>

            <div class="col-md-4">
                <div class="search-container">
                    <div class="container">
                        <div class="search-form">
                            <form>
                                <p>
                                    <i class="fa fa-search" aria-hidden="true"></i> Search By :
                                </p>
                                <p>
                                    <select class="form-control">
                                        <option>Country</option>
                                        <option>United States</option>
                                        <option>Japan</option>
                                        <option>Europe</option>
                                        <option>Austrelia</option>
                                    </select>
                                </p>
                                <p>
                                    <select class="form-control">
                                        <option>State</option>
                                        <option>California</option>
                                        <option>Pennsylvania</option>
                                        <option>Washington</option>
                                        <option>Boston</option>
                                    </select>
                                </p>
                                <p>
                                    <input type="checkbox" id="male">
                                    <label for="male">Male</label>
                                    <input type="checkbox" id="male">
                                    <label for="male">Female</label>
                                </p>
                                <p>
                                    <input type="button" class="btn btn-primary" value="Search">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}