{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="page-content">
    <div class="container">
       <div class="row">
           <div class="col-md-6 offset-md-3">
                <div class="contact-form">
                    <div class="form-head">
                        <p class="text-center">SIGNUP</p>
                     </div>
                     <form method="POST" action="signup" enctype="multipart/form-data">
                        {% csrf_token %}

                          {{ form.as_p }}
                        <div class="form-group form-input">
                           <p>Enter your name</p>
                           <input type="text" class="form-control" >
                        </div>
                        <div class="form-group form-input">
                          <p>Enter your Email ID</p>
                          <input type="text" class="form-control" >
                        </div>
                        <div class="form-group form-input">
                          <p>Enter Password</p>
                            <input type="password" class="form-control" >
                        </div>
                        <div class="form-group form-input">
                          <p>Retype Password</p>
                            <input type="password" class="form-control" >
                        </div>
                        <div class="form-group form-input">
                            <p>Select Country</p>
                             <select class="form-control">
                                 <option>Select</option>
                                 <option>United States</option>
                                 <option>Japan</option>
                                 <option>Europe</option>
                                 <option>Austrelia</option>
                             </select>
                          </div>
                          <div class="form-group form-input">
                            <p>Select State</p>
                            <select class="form-control">
                                <option>Select</option>
                                <option>California</option>
                                <option>Pennsylvania</option>
                                <option>Washington</option>
                                <option>Boston</option>
                            </select>
                          </div>
                        <div class="form-group text-center">
                           <input type="submit" class="btn btn-primary" value="Sign Up">
                        </div>
                        <p class="change-link">Already member of a Tech4stress? <a href="login.html" class="login-link">Login</a> here.</p>

                        <p class="coach-login-link"> If you are a coach <a href="coach_signup.html">Signup / Login</a> here.</p>
                </form>
                </div>
           </div>
        </div>
    </div>
   </div>
{% endblock %}